html, body{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    background-image: url('./slike/fortnite.jpg');
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;

}




.wrapper{
    width: 100%;
}

.container{
    background-color: white;
    width: 100vw;
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

.inline-text{

display:inline-block

}

.about{

    background-color: red;
    color:white;
    padding: 20px;
    margin: -20px -20px 0px -20px;


}

.submit{

    background-color: red;
    color:white;
    padding: 20px;
    margin: 0px -20px -20px -20px;


}

.city{

    background-color: black;
    color:white;
    padding: 20px;
    margin: 20px -20px 0px -20px;


}

.text-center{

    text-align: center;
    margin: 0px 50px 0px 250px;
}

.button-margin{

    margin: 10px 0px 30px 0px;

}

.gender{

    right: 200px;
    

}


li a:hover {
    background-color: #111111;
}

/* LINK */
a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

/* TABELA  */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr, th:nth-child(even) {
    background-color: grey;
}

/*  MENU BAR    */
nav {
    margin: -20px -20px 0px -20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


#myHeader{

    background-color: brown;
    color: white;
    padding: 40px;
    margin: 0px -20px -20px -20px;
    text-align: center;

}

#myResult{

    color: black;

}


.back-top {
	-moz-box-shadow: 9px 9px 13px 1px #31a112;
	-webkit-box-shadow: 9px 9px 13px 1px #31a112;
	box-shadow: 9px 9px 13px 1px #31a112;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00ff44), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #00ff44 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #00ff44 5%, #000000 100%);
	background:-o-linear-gradient(top, #00ff44 5%, #000000 100%);
	background:-ms-linear-gradient(top, #00ff44 5%, #000000 100%);
	background:linear-gradient(to bottom, #00ff44 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff44', endColorstr='#000000',GradientType=0);
	background-color:#00ff44;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 32px;
    text-decoration:none;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.back-top:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #00ff44));
	background:-moz-linear-gradient(top, #000000 5%, #00ff44 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #00ff44 100%);
	background:-o-linear-gradient(top, #000000 5%, #00ff44 100%);
	background:-ms-linear-gradient(top, #000000 5%, #00ff44 100%);
	background:linear-gradient(to bottom, #000000 5%, #00ff44 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00ff44',GradientType=0);
	background-color:#000000;
}